    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    /* Global styles */
    body {
      font-family: Arial, sans-serif;
    }
    
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }
    
    /* Header styles */
    header {
      background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(209,223,243,1) 7%, rgba(153,188,233,1) 16%, rgba(113,167,237,1) 24%, rgba(81,153,244,1) 30%, rgba(29,125,244,1) 50%, rgba(139,169,204,1) 100%);  
      padding: 6px;
    }
    
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .logo img {
      height: 50px;
    }
    
    nav ul {
      list-style: none;
      display: flex;
    }
    
    nav ul li a {
      text-decoration: none;
      color: #333;
      margin-left: 20px;
      transition: color 0.3s ease;
    }
    
    nav ul li a:hover {
      color: #ffffff;
    }

      /* Add custom styles for message container */
      .message-container {
      background-color: #f8d7da; /* Example background color for error messages */
      color: #721c24; /* Example text color for error messages */
      padding: 10px;
      border-radius: 8px;
      margin-top: 20px; /* Adjust the margin as needed */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

.message {
  margin-bottom: 10px;
}

      /* main.css */
      .larger-container {
       width: 70%; /* You can adjust the width as needed */
      margin: 0 auto; /* Center the container */
      padding: 20px; /* Add padding for spacing inside the container */
      }

    
    /* Hero section styles */
    
    .hero {
      background-image: url('../../static/images/image5.png');
      background-size: cover;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .hero-content {
      text-align: center;
      color: #000000;
    }
    
    .hero h1 {
      font-size: 50px;
      margin-bottom: 20px;
    }
    
    .hero p {
      font-size: 18px;
      margin-bottom: 40px;
    }
    
    .btn {
      display: inline-block;
      background-color: #ff6633;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }
    
    .btn:hover {
      background-color: #ff6633;
    }
    
    /* Courses section styles */
    .courses {
      background-color: #f8f8f8;
      padding: 40px 20px;
      text-align: center;
    }
    
    .courses h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    
    .course-card {
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    
    .course-card img {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    
    .course-card h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .course-card p {
      font-size: 16px;
    }
    
    /* About section styles */
    .about {
      padding: 40px 20px;
      text-align: center;
      color: #fff;
      background-color: #ff6633;
    }
    
    .about h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    
    .about p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    
    /* Contact section styles */
    .contact {
      padding: 40px 20px;
      text-align: center;
    }
    
    .contact h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    
    .contact form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
    
    .contact input,
    .contact textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    
    .contact textarea {
      height: 100px;
    }
    
    .contact button {
      padding: 10px 20px;
      background-color: #ff6633;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .contact button:hover {
      background-color: #e65100;
    }
    
    /* Footer styles */
    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 10px;
    }
    
    footer p {
      font-size: 14px;
    }