
  /* Add custom styles here */
  #home {
    background-image: url(' ../../static/images/image5.png'); /* Add your background image */
    background-size: 100%;
    background-attachment: fixed; /* Fixed background */
    height: 100vh; /* Full height of the viewport */
    color: #000000; /* Text color for better contrast */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #home h1 {
      font-size: 3em;
    }

    #home p {
      font-size: 1.5em;
    }

    /* Add more styles as needed */

    /* Social media icons styling */
    .social-icons {
      list-style: none;
      padding: 0;
    }

    .social-icons li {
      display: inline-block;
      margin: 0 10px;
    }
    .navbar {  
      background-color: #07994e;  
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    
    .social-icons a {
      color: #007bff; /* Adjust color as needed */
      font-size: 24px;
    }
    body {
  padding-top: 56px;
}

section {
  padding: 80px 0;
}

.bg-primary {
  background-color: #007bff!important;
}

.bg-dark {
  background-color: #343a40!important;
}
    }
