{% extends 'users/main.html' %}

{% block content %}
<style>
  /* courses.css */
  .course-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
   }

  .course-card-container {
    width: 100%; /* Full width of the container */
    display: flex;
    justify-content: space-around;
  }

  .course-card {
    width: 45%; /* Maintain the current width */
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px; /* Add margin between cards */
    margin-right: 20px; /* Add space to the right of each card */
  }

  .course-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .course-card h3 {
    color: #333;
  }
  
  .view-button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<div class="course-card-container">
  <div class="course-card">
    <img src="../../static/images/image4.png" alt="Beginner's Course image">
    <h3>Beginner's Course</h3>
    <p>Perfect for first-time drivers</p>
  </div>

  <div class="course-card">
    <img src="../../static/images/image3.jpg" alt="Advanced Course image">
    <h3>Advanced Course</h3>
    <p>Take your driving skills to the next level</p>
  </div>
</div>
{% endblock content %}
